@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%), radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%), radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
  background-color: #f8fafc;
  /* Fallback / Base */
}